{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="content">
        <br>
        <div class="row" style="background-color: #dddddd; padding: 20px;">
            <section>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="content-header-title">
                        <h1 class="title">
                            Home Page
                        </h1>
                    </div>

                    <div class="global-actions"></div>
                </div>
            </section>

            <section id="main" class="content-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Admine Hoşgeldiniz! [Beta Version]</h1>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
